# JWT secret
JWT_SIGNING_KEY=abcdefghijklmnopqrstuvwxyz

# The port that the server runs on
LISTEN_ADDRESS=:1111

# Production credentials for the PostgreSQL server
PSQL_HOST=IP_ADDRESS
PSQL_PORT=5432
PSQL_USERNAME="user"
PSQL_PASSWORD="pass"
PSQL_DATABASE="database"
PSQL_SSL="disable"

# Credentials used for unit tests for the PostgreSQL server
PSQL_TEST_HOST=IP_ADDRESS
PSQL_TEST_PORT=PORT
PSQL_TEST_USERNAME="user"
PSQL_TEST_PASSWORD="pass"
PSQL_TEST_DATABASE="database"
PSQL_TEST_SSL="disable"
