# JWT secret
JWT_SIGNING_KEY=your-special-key-here

# The port that the server runs on
LISTEN_ADDRESS=:1111

# Connection string for the PostgreSQL server
PSQL_URI="postgres://user:password@ipaddress/database?sslmode=disable"

